body {
  background: white;
  font-family: 'Roboto', sans-serif;
}

/* Opacity */
.opacity-50 {
  background: rgba(67, 89, 105, .5);
}

.image-code {
  background: url(../../images/home-bg-light.png) no-repeat;
  background-size: 100%;
}

.image-author {
  background: url(../../images/personal-photo.png) no-repeat;
  background-size: 100%;
}

.image-html-css-icon {
  background: url(../../images/html-css-icon.png) no-repeat;
  background-size: 100%;
}

.image-js-icon {
  background: url(../../images/js-icon.png) no-repeat;
  background-size: 100%;
}

.image-react-icon {
  background: url(../../images/react-icon.png) no-repeat;
  background-size: 100%;
}

.image-java-icon {
  background: url(../../images/java-icon.png) no-repeat;
  background-size: 100%;
}

.image-spring-icon {
  background: url(../../images/spring-icon.png) no-repeat;
  background-size: 100%;
}

.image-fb-icon {
  background: url(../../images/fb-icon2.png) no-repeat;
  background-size: 100%;
}

.image-li-icon {
  background: url(../../images/li-icon.png) no-repeat;
  background-size: 100%;
}

.image-sql-icon {
  background: url(../../images/sql-icon.png) no-repeat;
  background-size: 100%;
}

.image-bootstrap-icon {
  background: url(../../images/bootstrap-icon.png) no-repeat;
  background-size: 100%;
}


.image-maven-icon {
  background: url(../../images/maven-icon.png) no-repeat;
  background-size: 100%;
}
