/* Flex */
.display-flex {
    display: flex;
}

.justify-content-end {
  justify-content: flex-end;
}

/*Position*/
.position-relative {
    position: relative;
}

.position-absolute {
  position: absolute;
}

.top-0 {
    top: 0rem;
}

.top--1 {
  top: -1rem;
}

.top--2 {
  top: -2rem;
}

.top--3 {
  top: -3rem;
}

.top--4 {
  top: -4rem;
}

.top--5 {
  top: -5rem;
}

.top--6 {
  top: -6rem;
}

.top--7 {
  top: -7rem;
}

.top--8 {
  top: -8rem;
}

.top--9 {
  top: -9rem;
}

.top--10 {
  top: -10rem;
}

.left-5 {
  left: 5rem;
}

/* Margine */
.mt-2 {
    margin-top: 2rem;
}

.mt-3 {
    margin-top: 3rem;
}

.mt-4 {
    margin-top: 4rem;
}

.mt-5 {
    margin-top: 5rem;
}

.mt-6 {
    margin-top: 6rem;
}

.mt-7 {
    margin-top: 7rem;
}

.mt-10 {
    margin-top: 10rem;
}

.mt--10 {
    margin-top: -20rem;
}

.mt--28 {
    margin-top: -28rem;
}

.mt--50 {
  margin-top: -50rem;
}

.ml-1 {
    margin-left: 1rem;
}

.ml-2 {
    margin-left: 2rem;
}

/* Padding */
.p-07-3 {
    padding: .7rem 3rem;
}

.p-07-3-5 {
    padding: .7rem 3.8rem;
}
.p-04-1 {
    padding: .5rem 1rem;
}

.p-1 {
    padding: 1rem 1rem;
}

.p-2 {
  padding: 2rem 2rem;
}

.p-3 {
  padding: 3rem 3rem;
}

.p-4 {
  padding: 4rem 4rem;
}

.p-5 {
  padding: 5rem 5rem;
}

/* Width */
.w-02 {
  width: .2rem;
}

.w-5 {
    width: 5rem;
}

.w-10 {
    width: 10rem;
}

.w-15 {
    width: 15rem;
}

.w-20 {
    width: 20rem;
}

.w-26 {
    width: 26rem;
}

.w-30 {
  width: 30rem;
}

.w-35 {
  width: 35rem;
}

.w-40 {
  width: 40rem;
}

.w-50 {
  width: 50rem;
}

.w-100 {
  width: 100%;
}

.w-auto {
    width: auto;
}
/* Height */
.h-01 {
    height: .09rem;
}

.h-5 {
    height: 5rem;
}

.h-10 {
    height: 10rem;
}

.h-15 {
    height: 15rem;
}

.h-20 {
    height: 20rem;
}

.h-26 {
    height: 26rem;
}

.h-30 {
  height: 30rem;
}

.h-35 {
  height: 35rem;
}

.h-40 {
  height: 40rem;
}

.h-50 {
  height: 50rem;
}

.h-100-vh {
  height: 100vh;
}

/* Background */
.bg-amber {
    background: #ffc107;
}

.bg-grey-1 {
  background: #BCB6AE;
}

.bg-grey-2 {
    background: #3b3939;
}

.bg-grey-3 {
    background: #6b6868;
}

.bg-red-1 {
  background: #840B00;
}

.bg-blue-5 {
  background: #212931;
}

.bg-white-1 {
  background: #F9F9FF;
}

.bg-purple-1 {
  background: #3B1972;
}

.bg-purple-2 {
  background: #541fa9;
}

.bg-purple-3 {
  background: #33067b;
}

.bg-purple-4 {
  background: #7a37e4;
}

.bg-purple-5 {
  background: #825bc1;
}

.bg-purple-6 {
  background: #190f29;
}

.bg-purple-7 {
  background: #c3a2f7;
}

.bg-purple-8 {
  background: #402a62;
}

.bg-purple-9 {
  background: #4400b0;
}

.bg-blue-g {
  background: linear-gradient(to bottom right, #4940E7, #3B1972);
}

.bg-amber-g {
  background: linear-gradient(to bottom right, #ffc107, #ff8f00);
}

/* Border */
.border-none {
    border: none;
}

.border-3 {
  border: .3rem solid
}

.border-3-grey {
  border: .3rem solid #BCB6AE;
}

.border-grey {
  border: .01rem solid #A5A09A;
}

/* Radius */
.border-radius-1 {
    border-radius: 1rem;
}

.border-radius-50 {
  border-radius: 50%;
}

/* Color */
.color-blue-1 {
    color: #1769aa;
}

.color-grey-1 {
    color: #b8afaf;
}

.color-grey-2 {
    color: #A5A09A;
}

.color-grey-3 {
  color: #6b6868;
}

.color-white-default {
    color: #ffffff;
}

.color-amber {
    color: #ffc107;
}

.color-purple-1 {
  color: #3B1972;
}

/* Text Transform */
.tt-upper {
    text-transform: uppercase;
}

/* Text Align */
.ta-justify {
    text-align: justify;
}

.ta-center {
  text-align: center;
}

.ta-right {
  text-align: right;
}

/* Link */
.text-decoration-none {
    text-decoration: none;
}

.text-decoration-none:hover {
    border-bottom: .1rem solid;
}

/* Font size */
.fs-1 {
    font-size: 1rem;
}

.fs-1-2 {
    font-size: 1.2rem;
}

.fs-1-5 {
    font-size: 1.5rem;
}

.fs-2-5 {
  font-size: 2.5rem;
}

.fs-3 {
  font-size: 3rem;
}

/* Line Height */
.line-height-05 {
    line-height: .1rem;
}

.line-height-1 {
    line-height: 1rem;
}

.line-height-1-5 {
    line-height: 1.5rem;
}

.line-height-2 {
    line-height: 2rem;
}

.line-height-2-5 {
    line-height: 2.5rem;
}

/* Word Spacing*/
.ws-5 {
    word-spacing: .5rem;
}

/* Font Weight */
.fw-bold {
    font-weight: bold;
}

/*z-index*/
.zindex-auto {
    z-index: auto;
}

.zindex-0 {
    z-index: 0;
}

.zindex--1 {
    z-index: -1;
}

/* Picture */
.personal-photo {
    background: url("../images/personal-photo-full.png") no-repeat;
    background-size: 100%;
}

/* Cursor */
.cursor-pointer {
  cursor: pointer;
}

/* Box shadow */
button:active, button:focus {
  outline: none !important;
}
button::-moz-focus-inner {
  border: 0 !important;
}

textarea:focus, input:focus{
outline: none;
}

.box-shadow-purple {
  box-shadow: .2rem .2rem .2rem #473BD9;
}

.box-shadow-purple:active {
  transition: .3s;
  box-shadow: .1rem .1rem .1rem #473BD9;
}

.box-shadow-amber {
  box-shadow: .2rem .2rem .2rem #ffa000;
}

.box-shadow-amber:active {
  transition: .3s;
  box-shadow: .1rem .1rem .1rem #ffa000;
}

/* Textarea */
textarea {
  resize: none;
}
